{% extends 'base.html' %}

{% block title %} Update article {% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'article_view' article.pk %}> Назад к статье</a>
    </li>
{% endblock %}
{% block content %}
    <div class="heading">
        <h1>Редактирование статьи</h1>
    </div>

    <form class="form-content" method="post">
        {% include "partials/form.html" with button_text="Изменить" %}
    </form>

    <hr>
    <!--Footer-->
    <footer class="container">
        <p>&copy; MdR 2021</p>
    </footer>
{% endblock %}