{% extends 'base.html' %}

{% block title %}Article {{ article.pk }}{% endblock %}
{% block content %}
    <div class="heading">
        <h1>{{ article.title }}</h1>
        <p>{{ article.created_at }}, Автор: {{ article.author }}</p>
    </div>

    <div class="container-fluid content-text">
        {{ article.content }}
    </div>
    <hr id="article-ender">

    <div class="go-to-main">
        <p><a href="{% url "index" %}">На главную</a></p>
    </div>
    <hr>
    <!--Footer-->
    <footer class="container">
        <p>&copy; MdR 2021</p>
    </footer>
{% endblock %}

