{% extends 'base.html' %}

{% block title %}Article {{ article.pk }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'article_add' %}>Создание статьи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Удалить</a>
    </li>
{% endblock %}
{% block content %}
    <div class="heading">
        <h1>{{ article.title }}</h1>
        <p>{{ article.created_at }}, Автор: {{ article.author }}</p>
    </div>

    <div class="container-fluid content-text">
        {{ article.content }}
    </div>
    <hr>
    <!--Footer-->
    <footer class="container">
        <p>&copy; MdR 2021</p>
    </footer>
{% endblock %}

