{% extends 'base.html' %}

{% block title %}Articles{% endblock %}
{% block content %}
    <div class="heading">
        <h1>Статьи</h1>
    </div>
    <div class="container"> <!-- container start -->
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.content|truncatechars:100 }}</p>
                    <p><a class="btn btn-secondary btn-sm" href="{% url "article_view" article.pk %}" role="button">Подробнее &raquo;</a></p>
                </div>
            {% endfor %}
        </div>

        <div class="heading">
        <h5><a href="{% url "article_add" %}">Создать новую статью</a></h5>
        </div>
    </div> <!-- container end -->
    <hr>
    <!--Footer-->
    <footer class="container">
        <p>&copy; MdR 2021</p>
    </footer>
{% endblock %}


